#root {
  color: red;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  position: relative;
}

main {
  position: absolute;
  top: 0;
  left: 0;
}

header {
  position: sticky;
  top: 0;
  width: auto;
  background-color: silver;

  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  font-family: "Helvetica Narrow", "Arial Narrow", sans-serif;
}

select {
  font-family: "Helvetica Narrow", "Arial Narrow", sans-serif;
  font-size: small;
}

.credit {
  color: black;
}

.creative-commons {
  font-family: Arial;
  font-weight: bolder;
  font-size: 0.5em;

  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 1em;
  width: 2em;
  height: 2em;

  display: inline-block;
  line-height: 2em;
  text-align: center;
  vertical-align: top;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  padding: 5px 10px;  /* also hardcoded in cardOffset of dropdownChangeHandler() in script.js */
  margin: 5px 10px;  /* also hardcoded in cardOffset of dropdownChangeHandler() in script.js */
}

article {
  width: 30%;
  text-align: center;
  box-shadow: 0px 5px 15px gray;
  border-radius: 10px;
}

article h3 {
  border: 2px solid darkgray;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 0;
}

article p {
  text-align: left;
  color: dimgray;
  padding-left: 15px;
  padding-right: 15px;
}

article.highlight {
  outline: 2px solid black;
}